.navbar{
    display: flex;
    background: #00022e;
    height: 50px;
    align-items: center;
    /* justify-content: center; */
    
}

.icon {
    padding: 10px;
    align-self: flex-start;
    color: #fc86aa;
}

.icon:hover {
    cursor: pointer;
}

.header-title {
    margin: auto;
}

.name{
    color: white;
    align-self: center;
    margin-left: 2%;
    font-size: 22px;
}

.container {
    align-content: space-around;
}

